body {
    background-color: #E3E3E3;
    font-family: Tahoma;
    margin: 0;
    min-height: 100vh;       /* importante para que el body tome toda la altura */
    display: flex;           /* flex para manejar layout */
    flex-direction: column;  /* de arriba hacia abajo */
}

.Cabezota {
    width: 100%;
    height: 20px;
    background-color: #3B6EA5;
    margin-bottom: 20px;
}

.Cabeza .Header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    gap: 10px;
}

.flex_superior{
    width: 100px;
    height: 60px;
    margin-left: 5px;
}

.Atras {
    width: 100px;
    object-fit: contain;
    cursor: pointer;
}



.Imagen {
    width: 150px;
}

/* Aquí hago que el contenedor crezca para empujar el footer hacia abajo */
.Contenedor {
    flex-grow: 1;           /* ocupa todo el espacio posible */
    padding: 20px;
    text-align: center;
}

.boton-tema {
    background-color: #BFD7ED;
    border: 2px solid #3B6EA5;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    transition: 0.3s;
}

.boton-tema:hover {
    background-color: #A6C9EA;
}

#contenido {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid #B0C4DE;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#contenido img {
    float: right;
    margin-left: 15px;
    width: 140px;
    border-radius: 8px;
}

a {
    color: #2A4F9C;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #3B6EA5;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    color: #FFFFFF;
    width: 100%;
    box-shadow: 0 -1px 5px rgba(0,0,0,0.1);
}
